html{
	height: 100%;
	margin: 0px;
	padding: 0px
	
    
}
body
{
	background:url(../res/indexBG.png);
	background-size:cover;
    background-position:center;
	text-align: center;
    color:white;
    font-family:helvetica;


}
h1.greet
{
	background-color: black;
	color:white;
	font-family:Geogia;  	
	font-size:36px;

}
#map-canvas {
	position: fixed;
	height: 100;
	width: 100%;
	bottom: 0px;
	margin: 0px;
	padding: 0px;
}



input[id="inputAddress"] {
    border:0;
    padding:10px;
    font-size:13px;
    width:30%;

      }
input[id="placeholder"]{
	border-color: black;
}
button[id="showmap"] 
{	
    background: gray;
    color: white;
    padding:10px;
}

.toast {
	display: none; 
	position: fixed; 
	z-index: 99999; 
	width: 100%; 
	text-align: center; 
	bottom: 2em;
}

.toast .message {
	display: inline-block; 
	color: #fff; 
	padding: 5px; 
	border-radius: 5px; 
	box-shadow: 2px 2px 2px #666; 
	-webkit-box-shadow: 2px 2px 2px #666; 
	font-family: "Helvetica Neue", 
	Helvetica, Arial, sans-serif; 
	font-size: .8em; 
	background: #282324; 
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #554434), color-stop(1, #282324));
}


.circular {
	width: 200;
	height: 200;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	margin-left: auto;
    margin-right: auto;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
	
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	}
