html{
	height: 100%;
	margin: 0px;
	padding: 0px
	
    
}
body
{
	background:url(../res/indexBG.png);
	background-size:cover;
    background-position:center;
	text-align: center;
    color:white;
    font-family:helvetica;


}
h1.greet
{
	background-color: black;
	color:white;
	font-family:Geogia;  	
	font-size:36px;

}
#map-canvas {
	float: right;
	height: 100%;
	width: 50%;
	margin: 0px;
	padding: 0px;
}

#result-text {

	float: left;
	height: 100%;
	width: 50%;
	margin: 0px;
	padding: 0px;

}

input[id="inputAddress"] {
    border:0;
    padding:10px;
    font-size:13px;
    width:30%;

      }
input[id="placeholder"]{
	border-color: black;
}
button[id="showmap"] 
{	
    background: gray;
    color: white;
    padding:10px;
}



