#ubutton{
	background-image: url("https://ubutton.github.io/res/Assets/Uber\ API\ Buttons/Grey/PNGs/2x/UBER_API_Button_2x_Grey_hard\ edge.png");
	background-size: cover;
	width: 280px;
	height: 44px;
	margin: 0 auto;
}

#ubutton-time{
	float: left;
	display: inline-block;
	text-align: right;
	width: 264px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 14px;
	color: #09091A;
	font-family: HelveticaNeue, Helvetica, sans-serif;
	border: #DFDFE3 solid 1px ;
}




#ubutton-price{
	float: right;
	display: inline-block;
	text-align: right;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 14px;
	padding-left: 14px;
	color: #09091A;
	font-family: HelveticaNeue, Helvetica, sans-serif;
	border: #DFDFE3 solid 1px ;
}

